name: Release

on:
  workflow_dispatch:
    inputs:
      version:        
        description: "The version to release"
        default: "1.0.0"      
        required: true
    
jobs:
  release:
    name: Update Container Images
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: Login to DockerHub
        uses: docker/login-action@v1.10.0
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Set up QEMU
        uses: docker/setup-qemu-action@master
        with:
          platforms: all

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1
      
      - run: |
          docker buildx build \
            --push \
            --platform linux/arm/v7,linux/arm64/v8,linux/amd64 \
            --tag robinmanuelthiel/speedtest:${{ inputs.version }} \
            --tag robinmanuelthiel/speedtest:latest \
            .

      - name: Create GitHub Release
        uses: softprops/action-gh-release@v1
        with:
          tag_name: v${{ inputs.version }}
          name: Version ${{ inputs.version }}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
  
